<section class="offers_content mp-content deep-yellow" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>{{ small_columns_title }}</h3>
                <p>{{ small_columns_intro }}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="white-box">
                    <p><i class="fa fa-location-arrow"></i></p>
                    <h5 class="text-uppercase">{{ small_column1_header }}</h5>
                    <p>{{ small_column1_body }}</p></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="white-box">
                    <p><i class="fa fa-phone"></i></p>
                    <h5 class="text-uppercase">{{ small_column2_header }}</h5><a data-rel="external" href="tel:+7%20495%20415%2017%2034">
                    <p>{{ small_column2_body }}</p></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="white-box">
                    <p><i class="fa fa-envelope"></i></p>
                    <h5 class="text-uppercase">{{ small_column3_header }}</h5>
                    <p>{{ small_column3_body }}</p></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="white-box">
                    <p><i class="fa fa-clock-o"></i></p>
                    <h5 class="text-uppercase">{{ small_column4_header }}</h5>
                    <p>{{ small_column4_body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>