{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage no-navbar-change{% endblock %}

{% block extra_css %}
{% endblock %}


{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>

    <div style="background: white;min-height: 85px;"></div>

    <section class="offers_content mp-content deep-yellow" style="padding: 30px 0 0 0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{ page.title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ page.text|richtext }}</h5>
                </div>
            </div>
        </div>
    </section>

    <div id="map" style="width: 100%;min-height: 320px;height: 640px"></div>

    {% with '' as small_columns_title %}
    {% with page.bottom_section_text|richtext as small_columns_intro %}
    {% with page.get_parent.specific.small_column1_header as small_column1_header %}
    {% with page.get_parent.specific.small_column1_body|richtext as small_column1_body %}
    {% with page.get_parent.specific.small_column2_header as small_column2_header %}
    {% with page.get_parent.specific.small_column2_body|richtext as small_column2_body %}
    {% with page.get_parent.specific.small_column3_header as small_column3_header %}
    {% with page.get_parent.specific.small_column3_body|richtext as small_column3_body %}
    {% with page.get_parent.specific.small_column4_header as small_column4_header %}
    {% with page.get_parent.specific.small_column4_body|richtext as small_column4_body %}
        {% include "./contacts_section.html"%}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}

{% endblock %}


{%  block extra_js %}
    <script type="text/javascript">
        $('nav').addClass('shrink');
        $('#enquire-btn').addClass('btn-shrink');
        $('#logo').css("max-height", "70px");
        $('#logo-link').css("padding-top", "7px");
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [55.74082019, 37.43262866],
                zoom: 16
            });
        myPlacemark = new ymaps.Placemark([55.74082019, 37.43262866], { hintContent: 'АБ-Тур', balloonContent: 'Вход со стороны автобусной остановки' });
        myMap.geoObjects.add(myPlacemark);
        myMap.behaviors.disable(['scrollZoom'])
        }
    </script>
{% endblock %}