{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/owl/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/v2.2.0/dist/aos.css"
          integrity="sha384-HrojG8PWtUTfXT5oycGf3oXzWSNdB/mJCMszDd6O6TeIH3PDZZ8F5yEkJA8NsoG4" crossorigin="anonymous">
{% endblock %}

{% block content %}
<script src="https://cdn.rawgit.com/michalsnik/aos/v2.2.0/dist/aos.js"
        integrity="sha384-McD+Tmp+lmBZadiJGm7E+nBPfTrToJ7tG8OpvmPCsyvGbG6VD8nLvRE7O8h9CWk8" crossorigin="anonymous"></script>
<script type="text/javascript">AOS.init();</script>

{#    <a href="#" class="scrollToTop" style="background: url({% static "img/scroll_to_top.png" %}) 0 0 / cover; display: block;"></a>#}

    <div class="owl-carousel owl-theme">
        {% for item in page.carousel_images.all %}
            {% image item.image original as photo %}
            <div class="owl-lazy slide-bg" data-src="{{ photo.url }}">
                <div class="text-center carousel-caption hero-text no-right-click"><h1>{{ page.carousel_title }}</h1></div>
                <img class="no-right-click" src="{% static "img/blank.png" %}">
            </div>
        {% endfor %}
    </div>

    <section class="mp-content" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">{{ page.intro_header }}</h2>
                    <div>
                        <div>
                            {{ page.intro_body|richtext }}
                        </div>
                    </div>
                    <p class="text-center"><a href="https://www.instagram.com/abtour_ru/">{{ page.intro_hashtags }}</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="deep-yellow mp-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <p class="text-center"><i class="fa fa-plane fa-3x aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></i></p>
                    <h3 class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" >{{ page.column1_header }}</h3>
                    <p class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></p>
                        {{ page.column1_body|richtext }}
                    <p></p>
                </div>
                <div class="col-md-4 col-sm-4 small-pad-top">
                    <p class="text-center"><i class="fa fa-heart fa-3x aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></i></p>
                    <h3 class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" >{{ page.column2_header }}</h3>
                    <p class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></p>
                        {{ page.column2_body|richtext }}
                    <p></p>
                </div>
                <div class="col-md-4 col-sm-4 small-pad-top">
                    <p class="text-center"><i class="fa fa-rub fa-3x aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></i></p>
                    <h3 class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" >{{ page.column3_header }}</h3>
                    <p class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" ></p>
                        {{ page.column3_body|richtext }}
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <div class="row equalize">
        {% image page.form_image original as form_image %}
        <div class="col-md-7 col-sm-7 hidden-xs" style="background:url({{ form_image.url }});background-size:cover;background-position:center;min-height:500px;"></div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="contact-col">
            <h2 class="text-uppercase text-center">{{ page.form_header }}</h2>
            <p></p>
            <p>{{ page.form_intro|richtext }}</p>
            <p></p>
            {% include "./form.html" %}
        </div>
    </div>

    {% with page.small_columns_title as small_columns_title %}
    {% with page.small_columns_intro|richtext as small_columns_intro %}
    {% with page.small_column1_header as small_column1_header %}
    {% with page.small_column1_body|richtext as small_column1_body %}
    {% with page.small_column2_header as small_column2_header %}
    {% with page.small_column2_body|richtext as small_column2_body %}
    {% with page.small_column3_header as small_column3_header %}
    {% with page.small_column3_body|richtext as small_column3_body %}
    {% with page.small_column4_header as small_column4_header %}
    {% with page.small_column4_body|richtext as small_column4_body %}
        {% include "./contacts_section.html"%}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}

    {% if messages %}
        {% for message in messages %}
            <div id="messageModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ message }}</h4>
                  </div>
                    {% if form.non_field_errors %}
                        <div class="modal-body">
                            <h3>{{ form.non_field_errors }}</h3>
                        </div>
                    {% endif %}
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
                  </div>
                </div>
              </div>
            </div>
            <script>
                $("#messageModal").modal();
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}

{%  block extra_js %}
    <script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
    {% if anchor %}
            <script type='text/javascript'>
                $(document).ready(function(){
                window.location = '#{{ anchor }}'
                });
            </script>
    {% endif %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            lazyLoad: true,
            loop: true,
            autoplay: true,
            autoplayHoverPause: false,
            animateOut: 'fadeOut',
            nav: false,
            dots: false,
            mouseDrag: false,
            touchDrag: false,
            items: 1
        });
        $('a[href^="/#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
            'scrollTop': $target.offset().top
            }, 900, 'swing');
        });
    });
    </script>
{% endblock %}