{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% block branding_favicon %}
    <link rel="shortcut icon" href="{% static "img/logo_AB-TOUR.png" %}" />
{% endblock %}

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108914072-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108914072-1');
        </script>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/abtour.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "js/moment-with-locales.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/collapse.js" %}"></script>
        <script type="text/javascript" src="{% static "js/transition.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.maskedinput.min.js" %}"></script>


        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/abtour.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}


        <header>
            <nav class="navbar navbar-default navbar-fixed-top transparent">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-link" href="/" id="logo-link" style="padding-top: 15px;">
                            {% if page.specific.logo %}
                                {% image page.specific.logo original as logo %}
                            {% elif page.get_parent %}
                                {% image page.get_parent.specific.logo original as logo %}
                            {% endif %}
                            <img class="img-responsive" height="100px" id="logo" src="{{ logo.url }}" style="max-height: 100px;">
                        </a>
                        <a data-rel="external" class="logo-text" href="tel:+7%20495%20415%2017%2034"><h3>8 (495) 415-17-34</h3></a>
                        <button class="navbar-toggle collapsed navbar-right" data-target="#navcol-1" data-toggle="collapse">
                            <span class="sr-only">Открыть меню</span>
                            <span class="icon-bar"></span><span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right" id="right-links">
                            <li class="" role="presentation"><a href="/#about">О нас</a></li>
                            <li class="" role="presentation"><a href="/contacts/">Контакты</a></li>
                            <li class="" role="presentation"><a href="/offers/">Спецпредложения</a></li>
                            <li role="presentation"><a href="/#contact-col" class="btn-custom btn btn-default" id="enquire-btn">Оставить заявку</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript">
        </script>
        <script type="text/javascript" src="{% static 'js/abtour.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
